<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" lang="en">
	<head>
		<!-- Basic -->
		<title>Cycle</title>

		<meta name="description" content="Cycle GeoDns Example" />

		<!-- Technical Meta Data -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="cleartype" content="on" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Both Humans and Robots are Welcome! -->
		<meta name="robots" content="index, follow" />

		<!-- Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=latin-ext" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
	</head>
	<body class="background chicago">
        <div class="city-name">
            CHICAGO
        </div>
    </body>
</html>
